* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
/*  body styling  */
body {
    min-height: 900px;
    background-color: #000000;
    padding: 0 48px;

}
.nav_bar {
    display: flex;
    height: 96px;
    justify-content: center;
    padding-top: 24px;
    gap: 8px;

}
.nav_box {
    height: 72px;
    width: 1080px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(146, 141, 211, 0.06);
    border-radius: 16px;

}
.nav_links {
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.nav_links a {
    width: 47px;
    text-decoration: none;
    font-family: Archivo;
    font-size: 17px;
    font-weight: 500;
}
.social {
    height: 24px;
    width: 61px;
    text-decoration: none;
    font-family: Archivo;
    font-size: 17px;
    font-weight: 500;
}
.main_heading {
    width: 217px;
    font-family: MuseoModerno;
    font-size: 42px;
    font-weight: 500;
}

/* nav bar completed */

.warpper {
    padding: 48px 0;
}

/* hero section style */
.hero {
    height: 888px;
    padding: 0px 0px 48px 0px;
    border: 0px 0px 1px 0px;
}
.content {
    height: 840px;
    padding: 72px;
    
}
.bg {
    width: 1536px;
    height: 840px;
    background: linear-gradient(171.51deg, rgba(0, 0, 0, 0.7) 43.65%, rgba(146, 141, 211, 0.042) 141.61%);
}
.welcome {
    width: 1344px;
    height: 120px;
    font-family: Chivo;
    font-size: 120px;
    font-weight: 900;
    text-align: center;



}